<h1> Listing Chores for <%= @household.name -%></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Duration</th>
    <th>On monday</th>
    <th>On tuesday</th>
    <th>On wednesday</th>
    <th>On thursday</th>
    <th>On friday</th>
    <th>On saturday</th>
    <th>On sunday</th>
    <th>Active</th>
  </tr>

  <% for chore in @chores %>
  <tr>
    <td><%= h chore.name %></td>
    <td><%= h chore.description %></td>
    <td><%= h chore.duration %></td>
    <td><%= h chore.on_monday %></td>
    <td><%= h chore.on_tuesday %></td>
    <td><%= h chore.on_wednesday %></td>
    <td><%= h chore.on_thursday %></td>
    <td><%= h chore.on_friday %></td>
    <td><%= h chore.on_saturday %></td>
    <td><%= h chore.on_sunday %></td>
    <td><%= h chore.active %></td>
    <td><%= link_to 'Show', chore %></td>
    <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
    <td><%= link_to 'Destroy', chore, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to 'New Chore', new_household_chore_path %></p>
