<h1>Listing chores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Description</th>
  </tr>

<% @chores.each do |chore| %>
  <tr>
    <td><%=h chore.name %></td>
    <td><%=h chore.duration %></td>
    <td><%=h chore.description %></td>
    <td><%= link_to 'Show', chore %></td>
    <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
    <td><%= link_to 'Destroy', chore, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chore', new_chore_path %>